//MEDIA QUERY

@media screen and (max-width: 800px) {

    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    h2 {
        margin: 10px;
    }

    .clientes {
        padding: 20px 20px;
        flex-direction: column;
        align-items: center;
    }

    /* FOOTER */
    .pie-de-pagina {

        .grupo-1 {
            width: 70%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0;
        }
    }

.container {
    padding: 0px;
}

.about {
    padding: 5px;
    flex-direction: column;
}

.about-content {
    p {
        padding: 0px;
        font-size: 16px;
    }

    .read-more {
        font-size: 16px;
    }
}

.contenedor-servicios {
    h1::after {
        width: 100%;
    }
}

/* PRESUPUESTO */
.formulario {
    width: 80% !important;
}

}

/* Media Query contacto*/
@media(min-width: 700px) {

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>* {
        padding: 2em;
    }

    .contact-info {

        h4,
        ul,
        p {
            text-align: left;
        }
    }
}

@media screen and (max-width: 425px) {
    .img-equipo {
        display: none;
    }

    .titulo-h1 {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .index-parrafo {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

}