// PRESUPUESTO MAIN Ejemplo de Nesting

main {
    .imagen-servicios {
        display: block;
        width: 100%;
    }

    .contenedor-presupuesto {
        .texto-presupuesto {
            .titulo-presupuesto {
                font-size: 3.1rem;
                color: $color-principal;
                text-align: center;
                padding: 20px;

                &::after {
                    content: "";
                    position: center;
                    width: 50%;
                    height: 4px;
                    display: block;
                    margin: 0 auto;
                    background-color: rgb(84, 175, 175);
                }
            }
        }
    }

    .title-presupuesto {
        font-family: 'Varta', sans-serif;
        font-size: 2rem;
        margin: 10px;
        text-align: center;
        color: $color-secundario;
        padding: 20px;
    }
}