// SOBRE NOSOTROS MAIN Ejemplo de Nesting

main {
    .imagen-sobre-nosotros {
        display: block;
        width: 100%;
    }

    .titulo-sobre-nosotros {

        h1 {
            padding: 25px;
            margin: 10px;
            font-size: 2.5rem;
            color: $color-principal;
            text-align: center;

            &::after {
                content: "";
                position: center;
                width: 50%;
                height: 4px;
                display: block;
                margin: 0 auto;
                background-color: rgb(84, 175, 175);
            }
        }

        .parrafo-sobre-nosotros {
            margin: 5px 20px;
            padding: 15px 25px;
            text-align: justify;
            font-size: 1.2em;
            color: $color-parrafo;
        }
    }

    .contendor-sobre-nosotros {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        min-height: 60vh;
        background: rgb(255, 255, 255);

        .cards {
            position: relative;
            width: 300px;
            height: 350px;
            margin: 20px;

            .face {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border-radius: 10px;
                overflow: hidden;
                transition: .5s;
            }

            .front {
                transform: perspective(600px) rotateY(0deg);
                box-shadow: 0 5px 10px #000;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                h2 {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 45px;
                    line-height: 45px;
                    color: #fff;
                    background: rgba(0, 0, 0, .4);
                    text-align: center;
                }
            }

            .back {
                transform: perspective(600px) rotateY(180deg);
                background: rgb(11, 62, 71);
                padding: 15px;
                color: #f3f3f3;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                box-shadow: 0 5px 10px #000;

                h2 {
                    font-size: 30px;
                    margin-top: 20px;
                    letter-spacing: 2px;
                }

                p {
                    letter-spacing: 1px;
                }
            }

            &:hover {
                .front {
                    transform: perspective(600px) rotateY(180deg);
                }

                .back {
                    transform: perspective(600px) rotateY(360deg);
                }
            }
        }
    }
}